@import url("https://rsms.me/inter/inter.css");

* {
  box-sizing: border-box;
  list-style: none;
}
a{
  text-decoration: none;
}
html,
body,
#root,
.scroll {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  user-select: none;
  overflow: hidden;
}
li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
 
}
li:before {
  content: '▹';
  position: absolute;
  left: 0;
  line-height: 28px;
}


#root {
  overflow: auto;
}

.scroll {
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: auto;
  scroll-snap-type: y proximity;
}

.scroll > div {
  scroll-snap-align: start;
}

body {
  position: fixed;
  overflow: hidden;
  overscroll-behavior-y: none;
  background-color: #101010;
  background: radial-gradient(circle at bottom center, #212121 0%, #101010 80%);
  font-family: "Inter var", sans-serif;
  -webkit-font-smoothing: antialiased;
}



.dot {
  pointer-events: none;
  position: sticky;
  top: 0px;
  display: inline-block;
  max-width: 600px;
  padding: 0;
  padding: 80px;
  color: #d8d7d7;
  line-height: 1.6em;
  font-size: 20px;
  letter-spacing: 1.5px;
}
/* .gold{
  color: white;
} */
.dot > h1 {
  -webkit-font-smoothing: auto;
  /* pointer-events: none; */
  color: white;
  font-size: 5em;
  font-weight: 100;
  line-height: 1em;
  margin: 0;
  margin-bottom: 0.25em;
}

.dot > span {
font-weight: 400;
color: white;
font-size: 24px;
}
.contact{
  cursor: pointer;
  pointer-events:auto;
  color: white;
  display: inline-block;
  border: solid 1px white;
  padding: 15px;

  
}
.dot >.why {
/* display: inline-block; */
  /* color:#afe642; */
  margin-top: -1em;
  font-weight: 100;

}
.why > .grey{
  color: #ced8df;
}

@media only screen and (max-width: 1000px) {
  .caption {
    font-size: 4em;
  }
}

@media only screen and (max-width: 800px){
  
  .dot > h1 {
    font-size: 3em;
  }
}

@media only screen and (max-width: 700px),
only screen and (max-height:920px)   {
 
  .dot > h1 {
    font-size: 3em;
  }
}

@media only screen and (max-width: 600px) ,
only screen and (max-height:850px) {
  
  .dot,.dot>span{
    font-size: 0.9em;
  }
  .dot > h1 {
    font-size: 2em;
  }
  .dot >.why {
    font-size: 3em;
    font-weight: 800;
    margin-top: -200px;
    }
}
